# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# MongoDB data dumps (if any)
*.bson
*.json
